<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>New Blog Page</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <%- include('./partials/scripts.ejs') %>
</body>

<div class="container mt-4">
    <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Your blog title!" name="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" rows="4" placeholder="write your story..." name="content"
                required></textarea>
        </div>
        <div class="mb-3">
            <label for="coverImageURL" class="form-label">Add a cover photo</label>
            <input class="form-control form-control-sm" id="coverImageURL" type="file" name="coverImageURL"
                accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</html>